
  <%= image_tag(@post_attachment.avatar.url, alt: 'Avatar') if @post_attachment.avatar? %>
  <%= image_tag@post_attachment.avatar %>

  <%= form_for(@post_attachment, html: { multipart: true } ) do |f| %>
    <div class="field">
      <%= f.label :Picture %><br>
      <%= f.file_field :avatar, multiple: true %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
