<%= form_with(model: post, :html => { :multipart => true }) do |form| %>
 
   <div class="field">
     <%= form.label :title %><br>
     <%= form.text_field :title %>
   </div>

   <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
   
   <div class="field">
       <%= form.label :image %><br>
       <%= form.file_field :avatar, multiple: 'True' %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
