<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Post</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application'%>
    
  </head>
  <body>
     <%= render 'home/header' %>
     <div class="container">
       <br/>
       
        <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
        <%= yield %>
     </div> 
  </body>
</html>


